/* For devices with width of 480px and less, like phones */
@media only screen and (max-width: 480px) {
    .TopNavBar a {
        font-size: .7rem;
        padding: 1em .3em;
    }
    #Logo {
        height: 13px;
        padding: 5px;
    }
    .dropdown #dropBtn {
        font-size: 1rem;
        padding: 1em .3em;
    }
    .dropdown-content a {
        font-size: 1.5rem;
        padding: .3em .5em;
    }
} 

/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 481px) {
    .TopNavBar a {
        font-size: .9rem;
        padding: .5em .4em;
    }
    #Logo {
        height: 17px
    }
    .dropdown #dropBtn {
        font-size: .9rem;
        padding: .5em .4em;
    }
    .dropdown-content a {
        font-size: .9rem;
        padding: .3em .5em;
    }
} 

/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {
    .TopNavBar a {
        font-size: 1.05rem;
        padding: .5em .5em;
    }
    #Logo {
        height: 19px
    }
    .dropdown #dropBtn {
        font-size: 1.05rem;
        padding: .5em .5em;
    }
    .dropdown-content a {
        font-size: 1.05rem;
        padding: .1em .5em;
    }
}

header {
    background-color: #444444;
}

html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

/* Navigation Bar */

.TopNavBar {
    background-color: #444444;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.TopNavBar a{
    text-align: center;
    display: flex;
    color: white;
    font-family: monospace;
    text-decoration: none;
}

.TopNavBar a:hover #Logo, .TopNavBar a:hover, .dropdown:hover #dropBtn, #dropBtn:focus {
   background-color: #363636;
}

#Logo {
    background-color: #444444;
}

/* dropdown menu for assemblers */

.dropdown {
    overflow: hidden;
    display: inline-block;
}

  
.dropdown #dropBtn {
    text-align: center;
    color: white;
    font-family: monospace;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#FooterInfo{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #444444;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    text-decoration: none;
}

#FooterDiv{
    margin: 10px;
    align-items: center;
}

#FooterDiv > a{
    color: inherit;
    transition: 0.1s;
}


#FooterDiv > a:hover{
    color: #777777;
    transition: 0.1s;
}

/* end of Navigation Bar stuff */