header {
    background-color: #444444;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background-color: #333333;
}

/* Navigation Bar */

.TopNavBar {
    background-color: #444444;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 50px;
}

.TopNavBar a{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
    padding: 1vw;
    text-decoration: none;
}

.TopNavBar a:hover #Logo, .TopNavBar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: #363636;
}

#Logo {
    height: 30px;
    background-color: #444444;
}

/* dropdown menu for assemblers */

.dropdown {
    overflow: hidden;
    display: inline-block;
}

i.fa {
    font-size: 15px;
}
  
.dropdown .dropbtn {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
    padding: 1vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
    display: none;

    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* end of Navigation Bar stuff */