
.TextAreas{
    width: 100%;
    height: 80vh;
    display: flex;
}

h1{
    font-family: monospace;
    font-weight: lighter;
    font-size: 2vh;
    color: white;
    margin-left: 1vh;
}

button {
    background-color: black;
    border: 2px black;
    position: absolute;
    color: white;
    margin-top: 1.5vh;
    padding: 2.5vh;
    display: inline-block;
    font-size: 1em;
    font-family: monospace;
    width: 100%;
}

button:active{
    background-color: #272727;
}


textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: .15vw;
    background-color: #222222;
    color: white;
    font-size: calc(1.5vh + .5vw);
    font-family: monospace;
}

textarea:focus {
    outline: none;
    border-color: #349;
}

.TopNavBar {
    background-color: #444444;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    max-height: 6vh;
}

.TopNavBar a{
    text-align: center;
    display: flex;
    color: white;
    font-family: monospace;
    font-size: clamp(10px, 1vw, 40px);
    padding: 1vw;
}

.TopNavBar a:hover #Logo, .TopNavBar a:hover{
   background-color: #363636;
}

header {
    width: 100vw;
    height: 6vh;
    background-color: #444444;
    justify-content: flex-start;
    align-items: center;
}

html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    min-width: 100%;
}

#Logo {
    height: calc(1vw + 1vh);
    background-color: #444444;
}