
.TextAreas{
    width: 100%;
    height: 80vh;
    display: flex;
}

h1{
    font-family: monospace;
    font-weight: lighter;
    font-size: 2rem;
    color: white;
}

.assemblerbtn {
    background-color: black;
    border: 2px black;
    color: white;
    margin-top: 2vh;
    padding: 2.5vh;
    display: inline-block;
    font-size: 2em;
    font-family: monospace;
    width: 100%;
}

.assemblerbtn:active{
    background-color: #272727;
}

button {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-family: monospace;
    width: 100%;
}

textarea, .textArea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: .15vw;
    padding: 5px;
    background-color: #222222;
    color: white;
    font-size: clamp(12px, 1.3vw, 30px);
    font-family: monospace;
}

textarea:focus{
    outline: none;
    border-color: #349;
}

.AssemblerControls {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.AssemblerControls h1 {
    font-family: monospace;
    font-weight: lighter;
    font-size: clamp(12px, 1.3vw, 30px);
    color: white;
    margin: 10px;
}

.AssemblerControls .toggle {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

header {
    width: 100vw;
    height: 6vh;
    background-color: #444444;
    justify-content: flex-start;
    align-items: center;
}

html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    min-width: 100%;
    background-color: #222222;
}

.switchLabel {
    font-family: monospace;
    font-weight: lighter;
    color: white;
    margin: 1vmin;
}

.button {
    cursor: pointer;
}

.switchBody {
    position: relative;
    display: inline-block;
    width: 40px;
}

.switchBody input {
    opacity: 0;
    width: 10px;
    height: 0;
}

.slider {
    width: 40px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444444;
    transition: .4s;
}

input:checked + .slider {
    background-color: #10c0d0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: 5px;
    /* background-color: white; */
    transition: .4s; 
}

#tc {
    position: absolute;
    top: -8px;
    left: -5px;
    transition: 0.4s;
}

input:checked + .slider >#tc {
    transform: translateX(25px);
    transition: 0.4s
}