/* For devices with width of 480px and less, like phones */
@media only screen and (max-width: 480px) {
    .TextAreas{
        height: calc(91.5vh - 6.8em - 115px);
    }
    .h1{
        font-size: 2rem;
    }
    .assemblerbtn {
        margin-top: 1em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 2em;
        width: 100%;
    }
    textarea, .textArea {
        width: 100%;
        height: 100%;
        margin: .15em;
        padding: 5px;
        font-size: 1.5em;
    }  
    .AssemblerControls h1 {
        font-size: 1rem;
        margin: .5rem;
    }
    .AssemblerControls .toggle {
        margin-right: 10px;
    }
    .switchLabel {
        margin: 1vmin;
    }
    .switchBody {
        width: 40px;
    }
    .switchBody input {
        opacity: 0;
        width: 10px;
        height: 0;
    }
    .slider {
        width: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    .slider:before {
        height: 10px;
        width: 10px;
        bottom: 5px;
        transition: .4s; 
    }
    #tc {
        top: -8px;
        left: -5px;
        transition: 0.4s;
    }
    input:checked + .slider >#tc {
        transform: translateX(25px);
        transition: 0.4s
    }
}
/* For devices with width between 481px and 768px, like larger phones and portrait tablets */
@media only screen and (min-width: 481px) {
    .TextAreas{
        height: calc(91.5vh - 6.8em);
    }
    .h1{
        font-size: 2rem;
    }
    .assemblerbtn {
        margin-top: 1em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 2em;
        width: 100%;
    }
    textarea, .textArea {
        width: 100%;
        height: 100%;
        margin: .15em;
        padding: 5px;
        font-size: 1.5em;
    }
    .AssemblerControls h1 {
        font-size: 1rem;
        margin: .5rem;
    }
    .AssemblerControls .toggle {
        margin-right: 10px;
    }
    .switchLabel {
        margin: 1vmin;
    }
    .switchBody {
        width: 40px;
    }
    .switchBody input {
        opacity: 0;
        width: 10px;
        height: 0;
    }
    .slider {
        width: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    .slider:before {
        height: 10px;
        width: 10px;
        bottom: 5px;
        transition: .4s; 
    }
    #tc {
        top: -8px;
        left: -5px;
        transition: 0.4s;
    }
    input:checked + .slider >#tc {
        transform: translateX(25px);
        transition: 0.4s
    }
}
/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 769px) {
    .TextAreas{
        height: calc(91.5vh - 6.8em);
    }
    .h1{
        font-size: 2rem;
    }
    .assemblerbtn {
        margin-top: 1em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        width: 100%;
    }
    textarea, .textArea {
        width: 100%;
        height: 100%;
        margin: .15em;
        padding: 5px;
        font-size: 1.8em;
    }
    .AssemblerControls h1 {
        font-size: 1rem;
        margin: .5rem;
    }
    .AssemblerControls .toggle {
        margin-right: 10px;
    }
    .switchLabel {
        margin: 1vmin;
    }
    .switchBody {
        width: 40px;
    }
    .switchBody input {
        opacity: 0;
        width: 10px;
        height: 0;
    }
    .slider {
        width: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    .slider:before {
        height: 10px;
        width: 10px;
        bottom: 5px;
        transition: .4s; 
    }
    #tc {
        top: -8px;
        left: -5px;
        transition: 0.4s;
    }
    input:checked + .slider >#tc {
        transform: translateX(25px);
        transition: 0.4s
    }
}
/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {
    .TextAreas{
        height: calc(91.5vh - 6.8em);
    }
    .h1{
        font-size: 2rem;
    }
    .assemblerbtn {
        margin-top: .8em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        width: 100%;
    }
    textarea, .textArea {
        width: 100%;
        height: 100%;
        margin: .15em;
        padding: 5px;
        font-size: 2em;
    }
    .AssemblerControls h1 {
        font-size: 1rem;
        margin: .5rem;
    }
    .AssemblerControls .toggle {
        margin-right: 10px;
    }
    .switchLabel {
        margin: 1vmin;
    }
    .switchBody {
        width: 40px;
    }
    .switchBody input {
        opacity: 0;
        width: 10px;
        height: 0;
    }
    .slider {
        width: 40px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    .slider:before {
        height: 10px;
        width: 10px;
        bottom: 5px;
        transition: .4s; 
    }
    #tc {
        top: -8px;
        left: -5px;
        transition: 0.4s;
    }
    input:checked + .slider >#tc {
        transform: translateX(25px);
        transition: 0.4s
    }
}

.TextAreas{
    display: flex;
}

h1{
    font-family: monospace;
    font-weight: lighter;
    color: white;
}

.assemblerbtn {
    background-color: black;
    border: 2px black;
    color: white;
    display: inline-block;
    font-family: monospace;
}

.assemblerbtn:active{
    background-color: #272727;
}

button {
    background-color: black;
    color: white;
    display: inline-block;
    font-family: monospace;
}

textarea, .textArea {
    resize: none;
    border: 1px solid black;
    background-color: #222222;
    color: white;
    font-family: monospace;
}

textarea:focus{
    outline: none;
    border-color: #349;
}

.textArea:focus{
    outline: none;
    border-color: #349;
}

.AssemblerControls {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.AssemblerControls h1 {
    font-family: monospace;
    font-weight: lighter;
    color: white;
}

.AssemblerControls .toggle {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-color: #222222;
}

.switchLabel {
    font-family: monospace;
    font-weight: lighter;
    color: white;
}

.button {
    cursor: pointer;
}

.switchBody {
    position: relative;
    display: inline-block;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #444444;
}

input:checked + .slider {
    background-color: #10c0d0;
}

.slider:before {
    position: absolute;
    content: "";
    /* background-color: white; */
}

#tc {
    position: absolute;
}