html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

#SideBar {
    text-align: center;
}

.Selectable {
    text-align: center;
    justify-content: center;
    display: flex;
    min-width: 50px;
    padding: 5vh 3vw;
    font-family: monospace;
    border-bottom: 1px solid #111111;
    color: white;
    font-size: calc(.7vw + .7vh);
    z-index: inherit;
}

.Selectable:hover {
    background-color: #555555;
}

.Selectable:active {
    background-color: #222222;
}

.ColorRow {
    display: flex;
}

.Color {
    flex: 1;
    padding: 3vh 2vw;
    font-size: 1.4vw;
    min-height: 10px;
}

.Color:hover {
    background-color: #555555;
}

.Color:focus {
    background-color: #222222;
}

.Color:active {
    background-color: #222222;
}

canvas {
    max-width: 94vw;
    max-height: 94vh;
    background-color: #666666;
    height: 94vh;
    width: 94vw;
}

.MainContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

#CalcButton {
    margin-top: 4vh;
    padding: 2vh 2vw;
    border: none;
    background-color: green;
}

#CalcButton:hover {
    background-color: lightgreen;
}


#Black {
    background-color: black;
}

#White {
    background-color: white;
}

#Blue {
    background-color: blue;
}

#Red {
    background-color: red;
}

#Green {
    background-color: green;
}

#Yellow {
    background-color: yellow;
}

#Indigo {
    background-color: indigo;
}

#Violet {
    background-color: violet;
}

#Black:hover {
    background-color: #222222;
}

#White:hover {
    background-color: #dddddd;
}

#Blue:hover {
    background-color: rgb(69, 69, 158);
}

#Red:hover {
    background-color: rgb(161, 59, 59);
}

#Green:hover {
    background-color: rgb(35, 100, 35);
}

#Yellow:hover {
    background-color: rgb(141, 141, 19);
}

#Indigo:hover {
    background-color: rgb(75, 30, 107);
}

#Violet:hover {
    background-color: rgb(145, 88, 145);
}